.main {
  min-height: 200px;
  width: 400px;
  border: 1px solid black;
  border-radius: 15px;
  padding-left: 23px;
}
ul li {
  margin-bottom: 8px;
  color: black;
  font-size: 1.2rem;
  font-weight: 700;
}
.btns {
  padding: 5px;
  margin-left: 14rem;
  width: 4rem;
  border-radius: 30px;
  border: none;
  background-color: rgb(230, 61, 61);
}

* {
  color: rgb(47, 47, 138);
  font-family: "Poppins", sans-serif;
  font-family: "Quicksand", sans-serif;
}
#task {
  padding: 10px;
  border-radius: 20px;
  width: 17rem;
  border: none;
  background-color: rgb(214, 213, 213);
}
#btn {
  padding: 12px;
  width: 4rem;
  border-radius: 30px;
  border: none;
  background-color: rgb(239, 129, 89);
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
}
